.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.modal-window {
    position: relative;
    width: 90%;
    margin: 10% auto;
    padding: 20px;
}

.modal-window.small {
    width: 75%;
}

.modal-window.large {
    width: 75%;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    background-color: red;
    border-radius: 50px;
}

.close:hover,
.close:focus {
    color: #000000;
    cursor: pointer;
}

.open {
    display: block;
}

button {
    padding: 15px;
    font-size: 12px;
    background: indianred;
    color: #fff;
    border: none;
}